/*
Theme Name: BlankSlate_Children
Theme URL: https://opencollective.com/blankslate
Description:
Author: 
Author URL: 
Template: BlankSlate
Version: 2026
License: GNU General Public License v3 or Later
License URL: https://www.gnu.org/licenses/gpl.html
Tags: Boisson, Energisant, plante, vitrine, e-commerce
Text Domain: blankslate
*/

*{
    font-family: 'Syne', sans-serif;
    margin: 0;
}

h1{
    font-family: 'Syne', sans-serif;
    font-weight: 800;
}

h2{
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

body{
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

/* Modification du Header */

.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__nav-logo{
    padding: 20px;
}

.header__navbar-nav{
    display: flex;
}

.header__navbar-nav li a{
    display: flex;
    text-decoration: none;
    font-family: 'Syne', sans-serif;
    color: black;
    padding: 20px;
}

.header__navbar-nav li:last-child a{
    color: white;
    font-weight: 700;
    background-color: #DC9F96;
}

.header__navbar-nav li:last-child a:hover{
    background-color: #C02E44;
}

/* Modification du Footer */

.footer__navbar-nav a{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
}