/*
Theme Name: BlankSlate_Children
Theme URL: https://opencollective.com/blankslate
Description:
Author: 
Author URL: 
Template: BlankSlate
Version: 2026
License: GNU General Public License v3 or Later
License URL: https://www.gnu.org/licenses/gpl.html
Tags: Boisson, Energisant, plante, vitrine, e-commerce
Text Domain: blankslate
*/