/*
Theme Name: BlankSlate_Children
Theme URL: https://opencollective.com/blankslate
Description:
Author: 
Author URL: 
Template: BlankSlate
Version: 2026
License: GNU General Public License v3 or Later
License URL: https://www.gnu.org/licenses/gpl.html
Tags: Boisson, Energisant, plante, vitrine, e-commerce
Text Domain: blankslate
*/

*{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* Modification du Header */

.header__nav{
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    padding: 20px 40px;
}

.navbar-nav{
    display: flex;
    text-decoration: none;
}

.navbar-nav ul{
    color: black;
}

.navbar-nav li{
    padding: 20px 40px;
}

.navbar-nav li:last-child{
    color: white;
    background-color: red;
}